<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Colin Ozanne-Audroing</title>
    <meta name="description" content="Colin Ozanne-Audroing, Etudiant en BUT Informatique à l'IUT de Vannes">
    <meta name="keywords" content="colin, colinozanne, Colin Ozanne-Audroing, Colin Ozanne, Ozanne, Ozanne-Audroing, finxol, IUT Vannes">
    <meta name="robots" content="index,nofollow">
    <meta name="author" content="Colin Ozanne-Audroing">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
