<template>
    <header class="collapsed">
        <img id="arrow" src="../assets/arrow.svg" alt="&larr;" @click="collapse()">

        <div id="title">
            <a v-bind:href="`/${ lang }`"><img src="../assets/logo.webp" alt="C"></a>
            <h1>Colin Ozanne-Audroing</h1>
        </div>

        <nav v-if="lang === 'en' && !isCollapsed">
            <a href="/en/#summary">Summary</a>
            <a href="/en/#projects">Projects</a>
            <a href="/en/#about">About me</a>
            <a href="/en/cv">CV</a>
        </nav>
        <nav v-if="lang === '' && !isCollapsed">
            <a href="/#summary">Résumé</a>
            <a href="/#projects">Projets</a>
            <a href="/#about">A propos de moi</a>
            <a href="/cv">CV</a>
        </nav>

        <section id="header-extra">
            <div id="moon" @click="dark()"></div>
            <div class="container" v-if="!isCollapsed">
                <h1>Contact</h1>
                <div class="content">
                    <p>
                        <a href="mailto:contact@colinozanne.fr">contact@colinozanne.fr</a><br>
                        <a href="https://twitter.com/_finxol" target="_blank" rel="noopener noreferrer">@_finxol</a> sur
                        Twitter<br>
                        <a href="https://github.com/finxol" target="_blank" rel="noopener noreferrer">finxol</a> sur
                        Gitlab et Github<br>
                        finxol#8918 sur Discord
                    </p>
                </div>
            </div>
        </section>
    </header>
</template>

<script>
export default {
    name: "Heading",
    props: {
        lang: String
    },
    data: () => {
        return {
            count: 0,
        }
    },
    computed: {
        isCollapsed: function() {
            return this.count % 2 === 0;
        }
    },
    methods: {
        collapse() {
            let sidebar = document.getElementsByTagName('header')[0];
            let article = document.getElementsByTagName('article')[0];
            let footer = document.getElementsByTagName('footer')[0];
            if (this.count % 2 === 1) {
                sidebar.classList.add('collapsed');
                article.style.marginLeft = "6rem";
                footer.style.marginLeft = "6rem";
            } else {
                sidebar.classList.remove('collapsed');
                article.style.marginLeft = "26%";
                footer.style.marginLeft = "26%";
            }
            this.count++;
        },
        dark() {
            this.$emit('changeColourTheme');
        }
    }
}
</script>

<style>
header {
    position: fixed;
    top: .5rem;
    bottom: .5rem;
    left: .5rem;
    width: 20%;
    padding: 2rem;
    border-radius: .5rem;
    transition-duration: .5s;

    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);
    color: #f0f0f0;
}

div#app.dark header {
    background-image: linear-gradient(to right, rgb(69, 19, 148), rgb(21, 61, 155));
}

header img#arrow {
    filter: invert(1);
    margin: .5rem 0 3rem;
    transform: rotateZ(270deg);
    width: 100%;
    height: 2.5rem;
    transition-duration: .5s;
    cursor: pointer;
}

header div#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    height: 2rem;
    width: 100%;
}

header h1 {
    margin: .45rem 0 0;
    width: 80%;
    font-size: 1.5rem;
    transition-duration: .2s;

    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

header img {
    width: 2rem;
}

header nav img {
    filter: invert(1);
    margin: 0 35% 2rem;
    display: block;
    position: absolute;
    bottom: .8rem;
}

header a {
    display: block;
    margin: 2rem 0;
    text-decoration: underline;
    font-size: 1.2rem;
    transition-duration: .2s;
}

header.collapsed {
    width: 2.1rem;
    padding: 2rem .8rem 2rem;
}

header.collapsed img#arrow {
    margin: .5rem 0 3rem;
    transform: rotateZ(90deg);
}

header.collapsed h1 {
    opacity: 0;
    pointer-events: none;
}

header.collapsed nav a:not(:last-child) {
    opacity: 0;
    pointer-events: none;
}

header.collapsed nav a:last-child {
    margin: -1.2rem;
}

header section#header-extra div#moon {
    margin: 0 35%;
    width: 30%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition-duration: .5s;
}

header.collapsed section#header-extra div#moon {
    margin-left: 0;
}

header section#header-extra div#moon:before {
    content: "";
    margin: 0 0 2rem -.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: .5rem .5rem 0 0 rgb(230, 225, 155);
    display: block;
    position: relative;
    bottom: .5rem;
}

div#app.dark header section#header-extra div#moon:before {
    left: -1rem;
    bottom: 1.5rem;
    box-shadow: 1.5rem 1.5rem 0 0 rgb(230, 225, 155);
}

section#header-extra div#moon {
    margin: 0;
}

div#app.dark section#header-extra div#moon:before {
    left: -1rem;
    bottom: 1.5rem;
    box-shadow: 1.5rem 1.5rem 0 0 rgb(230, 225, 155);
}

section#header-extra {
    position: absolute;
    bottom: 0;
    margin: 6rem 0 4rem;
    display: block;
    width: 100%;
}

section#header-extra div.container {
    border-radius: .5rem;
    padding: 0.01rem 0;
    margin: 0 0 2rem;
    width: max-content;
    transition-duration: .5s;
}

section#header-extra div.container div.content {
    display: flex;
    justify-content: left;
    margin-bottom: 1.5rem;
}

section#header-extra div.container div.content p {
    width: 100%;
    margin: .5rem;
    line-height: 2rem;
}

section#header-extra div.container div.content p a {
    display: inline;
    font-size: 1rem;
}
</style>
