<template>
  <header :class="{'show': show}">
    <div>
      <img src="../assets/logo.webp" alt="C">
      <h1>Colin Ozanne-Audroing</h1>
      <svg v-if="!show" @click="show = true" id="hamburger" viewBox="0 0 50 40.462" height="30" width="30" class="Svg Svg-hamburger Svg-root_3izI7 SVG-fill-green_3XEHx" aria-hidden="true"><path d="M0 0v5.058h50V0H0zm0 22.833h50v-5.058H0v5.058zm0 17.63h50v-5.058H0v5.058z"></path></svg>
      <svg v-else @click="show = false" id="close" xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
    </div>

    <nav v-if="lang === 'en'" :class="{'down': show}">
      <a href="/#summary">Summary</a>
      <a href="/#projects">Projects</a>
      <a href="/#about">About me</a>
      <a class="last" href="mailto:contact@colinozanne.fr"><img src="../assets/email.svg" alt="email"></a>
    </nav>
    <nav v-else :class="{'down': show}">
      <a href="/#summary">Résumé</a>
      <a href="/#projects">Projets</a>
      <a href="/#about">A propos de moi</a>
      <a href="/cv">CV</a>
      <a class="last" href="mailto:contact@colinozanne.fr"><img src="../assets/email.svg" alt="email"></a>
    </nav>
  </header>
</template>

<script>
export default {
  name: "HeadingMobile",
  data: ()=> {
    return {
      show: false,
      lang: String
    }
  }
}
</script>

<style scoped>
header {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #4776E6;
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  background: linear-gradient(to right, #8E54E9, #4776E6);
  color: #f0f0f0;
  right: 0;
  left: 0;
  padding: 1rem;
  width: auto;
  height: 2rem;
  z-index: 10;
  border-radius: 0 0 .5rem .5rem;
  transition-duration: .5s;
}

header.show {
  height: 21rem;
}

div {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin: 0;
  width: 70%;
  align-items: flex-start;
}

h1 {
  margin: .45rem 0 0;
  width: auto;
  font-size: 1.2rem;

  background: #FFEFBA;
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header img {
  width: 2rem;
}

div svg {
  filter: invert(1);
  transition-duration: .2s;
  position: absolute;
  right: 2rem;
  z-index: 2;
}

header nav {
  transform: translateY(-5vh);
  opacity: 0;
  transition-duration: .5s;
}

header nav.down {
  transform: translateY(0);
  opacity: 1;

}

header nav img {
  filter: invert(1);
  margin: 0 35% 2rem;
  display: block;
  position: initial;
}

header a {
  display: block;
  margin: 2rem 0;
  text-decoration: underline;
  font-size: 1.2rem;
  pointer-events: none;
}

header a.last {
  margin: 0 45%;
}

header nav.down a {
  pointer-events: all;
}
</style>
