<template>
    <article>
        <section id="summary">
            <h1>Summary</h1>
            Programming languages:
            <div id="languages">
                <div>
                    <picture>
                        <source srcset="../assets/javascript_logo.webp" type="image/webp">
                        <img src="../assets/javascript_logo.png" alt="logo">
                    </picture>
                    <label for="js">JavaScript</label>
                    <meter id="js" min="0" max="100" low="30" high="75" optimum="80" value="85"></meter>
                </div>

                <div>
                    <picture>
                        <img src="../assets/mongo_logo.png" alt="logo">
                    </picture>
                    <label for="mongo">MongoDB</label>
                    <meter id="mongo" min="0" max="100" low="30" high="60" optimum="80" value="40"></meter>
                </div>

                <div>
                    <picture>
                        <source srcset="../assets/sql_logo.webp" type="image/webp">
                        <img src="../assets/sql_logo.png" alt="logo">
                    </picture>
                    <label for="sql">SQL</label>
                    <meter id="sql" min="0" max="100" low="30" high="60" optimum="80" value="75"></meter>
                </div>

                <div>
                    <picture>
                        <source srcset="../assets/java_logo.webp" type="image/webp">
                        <img src="../assets/java_logo.png" alt="logo">
                    </picture>
                    <label for="java">Java</label>
                    <meter id="java" min="0" max="100" low="30" high="60" optimum="80" value="30"></meter>
                </div>

                <div>
                    <picture>
                        <source srcset="../assets/python_logo.webp" type="image/webp">
                        <img src="../assets/python_logo.png" alt="logo">
                    </picture>
                    <label for="py">Python</label>
                    <meter id="py" min="0" max="100" low="30" high="60" optimum="80" value="65"></meter>
                </div>

                <div>
                    <img src="../assets/rust_logo.svg" alt="rust">
                    <label for="rs">Rust</label>
                    <meter id="rs" min="0" max="100" low="30" high="60" optimum="80" value="20"></meter>
                </div>
            </div>

            And frameworks :
            <ul>
                <li>Node <span>(Javascript)</span></li>
                <li>Express <span>(Javascript)</span></li>
                <li>Handlebars <span>(Javascript)</span></li>
                <li>Vue <span>(Javascript)</span></li>
                <li>Nuxt <span>(Javascript/Vue)</span></li>
                <li>Vuetify <span>(Vue design framework)</span></li>
                <li>Sass <span>(CSS)</span></li>
                <li>Flask <span>(Python)</span></li>
            </ul>
        </section>


        <section id="projects">
            <h1>Projects</h1>
            <div>
                <figure id="unicovoit">
                    <legend class="white-text">
                        <a href="https://github.com/finxol/unicovoit" target="_blank" rel="noopener noreferrer">
                            Unicovoit
                        </a>
                    </legend>
                    <a href="https://github.com/finxol/unicovoit" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/unicovoit_homepage.png" alt="UniCovoit">
                    </a>
                </figure>
                <p>
                    A carpool platform for students.<br>
                    All code available on a <a href="https://github.com/finxol/unicovoit" target="_blank"
                                               rel="noopener noreferrer">my github</a>.<br>
                    Nuxt.js, Vuetify, Express.js, MongoDB.
                </p>
            </div>

            <div>
                <figure id="privacy-online">
                    <legend>
                        <a href="https://privacy-online.info" target="_blank" rel="noopener noreferrer">
                            Privacy Online
                        </a>
                    </legend>
                    <a href="https://privacy-online.info" target="_blank" rel="noopener noreferrer"><img
                        src="../assets/privacy-online-en_homepage.webp" alt="Privacy-Online.info"></a>
                </figure>
                <p>
                    A site to reference privacy-friendly alternatives and articles around privacy.
                    Everything is written by me.<br>
                    All code available on a <a href="https://gitlab.com/pvcy_online/privacy-online" target="_blank"
                                               rel="noopener noreferrer">separate Gitlab</a>.
                    Backend framework : Node/express.js.
                </p>
            </div>

            <div>
                <figure id="accounts-manager">
                    <legend>
                        <a href="https://gitlab.com/finxol/accounts-manager" target="_blank" rel="noopener noreferrer">
                            Accounts Manager
                        </a>
                    </legend>
                    <a href="https://gitlab.com/finxol/accounts-manager" target="_blank" rel="noopener noreferrer"><img
                        src="../assets/accounts-manager.webp" alt="Accounts Manager"></a>
                </figure>
                <p>
                    A site to detail the contents of different savings bank accounts.
                    All code available on my personal <a href="https://gitlab.com/finxol/accounts-manager"
                                                         target="_blank" rel="noopener noreferrer">Gitlab</a>.<br>
                    Backend framework : Node/express.js.
                    Uses SQLite database, JWT to store auth tokens and SCSS for styling.
                </p>
            </div>

            <div>
                <figure id="nsiProjet2">
                    <legend class="white-text">
                        <a href="https://gitlab.com/finxol/nsi-projet2" target="_blank" rel="noopener noreferrer">
                            Love compatibility programme
                        </a>
                    </legend>
                    <a href="https://gitlab.com/finxol/nsi-projet2" target="_blank" rel="noopener noreferrer"><img
                        src="../assets/nsi-projet2.webp" alt="NSI Projet 2"></a>
                </figure>
                <p>
                    [Unfinished/Discontinued]
                    Second CS project.
                    Written in Python, with an SQLite database.<br>
                    Built with another classmate, entirely available on my <a
                    href="https://gitlab.com/finxol/nsi-projet2" target="_blank" rel="noopener noreferrer">Gitlab</a>.
                </p>
            </div>

            <div>
                <figure id="prestomadose">
                    <legend class="white-text">
                        <a href="https://github.com/finxol/prestomadose/" target="_blank" rel="noopener noreferrer">
                            Presto Ma Dose
                        </a>
                    </legend>
                    <a href="https://github.com/finxol/prestomadose/" target="_blank" rel="noopener noreferrer"><img
                        src="../assets/prestomadose.webp"></a>
                </figure>
                <p>
                    A script to look for and block an appointment for the COVID-19 vaccine.
                    To be used on the Doctolib website.<br>
                    All code and instructions available on <a href="https://github.com/finxol/prestomadose/"
                                                              target="_blank" rel="noopener noreferrer">Github</a>.
                </p>
            </div>
        </section>


        <section id="about">
            <h1>About me</h1>
            <p>
                Hi !
            </p>
            <p>
                My name's Colin Ozanne-Audroing, I'm 18 and I currently live in Vannes, in Brittany, France.
            </p>
            <p>
                As you may have noticed, I love computers and programming.
            </p>
            <p>
                The very first time I wrote a programme was when I was 12.
                I was already part of a robotics lunchtime group with the technology teacher, but we mostly built the
                robot and programmed it with Scratch-like Arduino plugin.
                But this time, I wanted to have my own kit and do real programming.
                I just got a Raspberry Pi 2B, some LEDs and a breadboard for my birthday.
                So I looked up some tutorials on the Internet on how to control LEDs on a Raspberry Pi in Python.
                I didn't stick to that for very long.
            </p>
            <p>
                The next time was in troisième, when I was 13.
                With three other friends, we brought up a school news report.
                We started on paper but quickly shifted to making videos.
                We then had to have a website.
                The first one was made with Weebly but it wasn't very good, so I started learning HTML to write one
                myself.
                It was very simple and buggy but it worked and did the job !
            </p>
            <p>
                After that, I continued writing some pages, by creating nonsense pages or by copying existing websites.
            </p>
            <p>
                When I got to première at (almost) 16 years old, I could finally choose Computer Science as a school
                subject.
                My three spécialités courses were Maths, Computer Science and Engineering.<br>
                Just before the first national lockdown in March 2020, I started a website presenting my favorite school
                subject.
                It has grown a bit since and it is available online (cf. Personal Projects).<br>
                I stopped engineering at the end of that year, as I had to stop one of them.
                This year, I follow Maths and CS classes as my two spécialités.
            </p>
            <p>
                Apart from the work done in Computer Science, I started a website about online privacy.
                It is my first bigger-scale website and it is by far the most complex I've done so far.<br>
                Along with the project, I learnt a lot more JavaScript, as it is uses on both front and back-end.
                I transferred the dynamic data to a database after discovering it in class.
            </p>
            <p>
                Right at the beginning of 2021, I started learning Rust, as I wanted to learn how to use a compiled
                language.
            </p>

            <p>I'm currently studying Computer Science at the IUT in Vannes.</p>
        </section>
    </article>
</template>

<script>
export default {
    name: "Home_en"
}
</script>

<style scoped>

</style>
