<template>
    <article>
        <section id="summary">
            <h1>Résumé</h1>
            Langages de programmation :
            <div id="languages">
                <div>
                    <picture>
                        <source srcset="../assets/javascript_logo.webp" type="image/webp">
                        <img src="../assets/javascript_logo.png" alt="logo">
                    </picture>
                    <label for="js">JavaScript</label>
                    <meter id="js" min="0" max="100" low="30" high="75" optimum="80" value="85"></meter>
                </div>

                <div>
                    <picture>
                        <img src="../assets/mongo_logo.png" alt="logo">
                    </picture>
                    <label for="mongo">MongoDB</label>
                    <meter id="mongo" min="0" max="100" low="30" high="60" optimum="80" value="40"></meter>
                </div>

                <div>
                    <picture>
                        <source srcset="../assets/sql_logo.webp" type="image/webp">
                        <img src="../assets/sql_logo.png" alt="logo">
                    </picture>
                    <label for="sql">SQL</label>
                    <meter id="sql" min="0" max="100" low="30" high="60" optimum="80" value="75"></meter>
                </div>

                <div>
                    <picture>
                        <source srcset="../assets/java_logo.webp" type="image/webp">
                        <img src="../assets/java_logo.png" alt="logo">
                    </picture>
                    <label for="java">Java</label>
                    <meter id="java" min="0" max="100" low="30" high="60" optimum="80" value="30"></meter>
                </div>

                <div>
                    <picture>
                        <source srcset="../assets/python_logo.webp" type="image/webp">
                        <img src="../assets/python_logo.png" alt="logo">
                    </picture>
                    <label for="py">Python</label>
                    <meter id="py" min="0" max="100" low="30" high="60" optimum="80" value="65"></meter>
                </div>

                <div>
                    <img src="../assets/rust_logo.svg" alt="rust">
                    <label for="rs">Rust</label>
                    <meter id="rs" min="0" max="100" low="30" high="60" optimum="80" value="20"></meter>
                </div>
            </div>

            Et frameworks :
            <ul>
                <li>Node <span>(Javascript)</span></li>
                <li>Express <span>(Javascript)</span></li>
                <li>Handlebars <span>(Javascript)</span></li>
                <li>Vue <span>(Javascript)</span></li>
                <li>Nuxt <span>(Javascript/Vue)</span></li>
                <li>Vuetify <span>(Vue design framework)</span></li>
                <li>Sass <span>(CSS)</span></li>
                <li>Flask <span>(Python)</span></li>
            </ul>
        </section>


        <section id="projects">
            <h1>Projets</h1>
            <div>
                <figure id="unicovoit">
                    <legend class="white-text">
                        <a href="https://github.com/finxol/unicovoit" target="_blank" rel="noopener noreferrer">
                            Unicovoit
                        </a>
                    </legend>
                    <a href="https://github.com/finxol/unicovoit" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/unicovoit_homepage.png" alt="UniCovoit">
                    </a>
                </figure>
                <p>
                    Plateforme de covoiturage pour étudiants.<br>
                    Code disponible sur <a href="https://github.com/finxol/unicovoit" target="_blank"
                                               rel="noopener noreferrer">github</a>.<br>
                    Nuxt.js, Vuetify, Express.js, MongoDB.
                </p>
            </div>

            <div class="project">
                <figure id="privacy-online">
                    <legend>
                        <a href="https://fr.privacy-online.info" target="_blank" rel="noopener noreferrer">
                            Privacy Online
                        </a>
                    </legend>
                    <a href="https://fr.privacy-online.info" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/privacy-online-fr_homepage.webp" alt="Privacy-Online.info">
                    </a>
                </figure>
                <p>
                    Un site qui référence des alternatives respectueuses de la vie privée et des articles autour de la
                    vie privée.
                    Écrit entièrement par moi-même.<br>
                    Code source disponible sur un <a href="https://gitlab.com/pvcy_online/privacy-online"
                                                     target="_blank" rel="noopener noreferrer">Gitlab indépendant</a>.
                    Infrastructure backend : Node.
                </p>
            </div>

            <div>
                <figure id="accounts-manager">
                    <legend>
                        <a href="https://gitlab.com/finxol/accounts-manager" target="_blank" rel="noopener noreferrer">
                            Accounts Manager
                        </a>
                    </legend>
                    <a href="https://gitlab.com/finxol/accounts-manager" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/accounts-manager.webp" alt="Accounts Manager">
                    </a>
                </figure>
                <p>
                    Un site pour détailler le contenu des comptes d'épargne.
                    Code source disponible sur mon <a href="https://gitlab.com/finxol/accounts-manager" target="_blank"
                                                      rel="noopener noreferrer">Gitlab</a>.<br>
                    Infrastructure backend : Node/express.js.
                    Utilise une base de données SQLite, JWT pour enregistrer les tokens auth et SCSS pour le style.
                </p>
            </div>

            <div>
                <figure id="nsiProjet2">
                    <legend class="white-text">
                        <a href="https://gitlab.com/finxol/nsi-projet2" target="_blank" rel="noopener noreferrer">
                            Programme de Compatibilité Amoureuse
                        </a>
                    </legend>
                    <a href="https://gitlab.com/finxol/nsi-projet2" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/nsi-projet2.webp" alt="NSI Projet 2">
                    </a>
                </figure>
                <p>
                    Deuxième projet de Terminale en NSI.
                    Écrit en Python, utilisation d'une base de données SQLite.<br>
                    Réalisé avec un autre camarade de classe, entièrement disponible sur mon <a
                    href="https://gitlab.com/finxol/nsi-projet2" target="_blank" rel="noopener noreferrer">Gitlab</a>.
                </p>
            </div>

            <div>
                <figure id="prestomadose">
                    <legend class="white-text">
                        <a href="https://github.com/finxol/prestomadose/" target="_blank" rel="noopener noreferrer">
                            Presto Ma Dose
                        </a>
                    </legend>
                    <a href="https://github.com/finxol/prestomadose/" target="_blank" rel="noopener noreferrer">
                        <img src="../assets/prestomadose.webp" alt="prestomadose">
                    </a>
                </figure>
                <p>
                    Un script pour chercher un rendez-vous pour la vaccination contre la COVID-19.
                    A utiliser sur le site de Doctolib.<br>
                    Code et instructions disponibles sur <a href="https://github.com/finxol/prestomadose/"
                                                            target="_blank" rel="noopener noreferrer">Github</a>.
                </p>
            </div>
        </section>


        <section id="about">
            <h1>A propos de moi</h1>
            <p>
                Bonjour !
            </p>

            <p>
                Je m'appelle Colin Ozanne-Audroing, j'ai 18 ans et je vis à Vannes, en Bretagne.
            </p>

            <p>
                Vous l'avez sans doute remarqué, j'adore les ordinateurs et la programmation.
            </p>

            <p>
                J'avais 12 ans quand j'ai écrit mon tout premier programme.
                Je faisais déjà partie d'un groupe de robotique au collège avec le professeur de technologie, mais la
                majeure partie du temps était consacrée à la construction du robot et nous le programmions avec un
                plugin Arduino similaire à Scratch.
                Mais cette fois-ci, je voulais avoir mon propre matériel et faire de la vraie programmation.
                Je venais juste de recevoir un Raspberry Pi 2B, des LED et un breadboard pour mon anniversaire.
                Donc j'ai regardé des tutoriels sur Internet sur la programmation de LED avec un Raspberry Pi en Python.
                Je ne m'y suis pas attaché très longtemps.
            </p>

            <p>
                La fois suivante était en troisième, quand j'avais 13 ans.
                Avec trois autres amis, nous avions monté un journal du collège.
                Après un début au format écrit, nous sommes rapidement passés au format vidéo, comme les journaux
                télévisés.
                Nous étions donc obligés d'avoir un site web.
                Le tout premier avait été conçu avec Weebly mais il n'était pas très bien et ne nous convenait pas
                parfaitement.
                J'ai donc commencé à apprendre le langage HTML pour en écrire un moi-même.
                Il était très simple et rempli de bugs mais il fonctionnait et atteignait son objectif !
            </p>

            <p>
                Après cela, j'ai continué à m'entraîner à écrire des sites, en créant des pages insensées ou en copiant
                des sites existants.
            </p>

            <p>
                Quand je suis arrivé en première à (presque) 16 ans, je pouvais enfin choisir de l'informatique comme
                matière scolaire.
                Mes trois spécialités étaient Mathématiques, Numérique et Sciences de l'Informatique (NSI) et Sciences
                de l'Ingénieur (SI).<br>
                Juste avant le premier confinement national en mars 2020, j'ai commencé un site de présentation de ma
                matière préférée.
                Il s'est un peu développé depuis et il est accessible en ligne (cf. Projets Personnels).<br>
                J'ai choisi la SI comme matière à arrêter en fin de première.<br>
                Cette année, les Maths et la NSI sont mes deux spécialités.
            </p>

            <p>
                En plus du travail fait en NSI, j'ai commencé un site à propos de la protection de la vie privée en
                ligne.
                C'est mon premier site à plus grande échelle et de loin le plus complexe que j'ai fait jusqu'à
                présent.<br>
                Avec ce projet, j'en ai appris beaucoup plus sur JavaScript, puisque je l'utilise aussi pour le backend.
                J'ai transféré les données sélectionnées dynamiquement sur une base de données après avoir découvert SQL
                en classe.
            </p>

            <p>
                Au tout début de 2021, j'ai commencé à apprendre le langage Rust parce que je voulais apprendre à
                utiliser un langage compilé.
            </p>

            <p>Je suis actuellement un BUT Informatique à l'IUT de Vannes.</p>
        </section>
    </article>
</template>

<script>
export default {
    name: "Home_fr"
}
</script>

<style scoped>

</style>
