<template>
    <div>
        <Cv_fr v-if="page === 'cv' && lang === ''"></Cv_fr>
        <Cv_en v-if="page === 'cv' && lang === 'en'"></Cv_en>
        <Home_en v-else-if="page === '' && lang === 'en'"></Home_en>
        <Home_fr v-else-if="page === '' && lang === ''"></Home_fr>

        <article v-else>
            <section style="text-align: center; margin-right: 10rem; font-size: 140%;">
                <h2>404</h2>
                <h3>Oh !</h3>
                <p v-if="lang === 'en'" style="width: 100%">Looks like this page doesn't exist !</p>
                <p v-else style="width: 100%">Il semblerait que cette page n'existe pas !</p>
                <img width="250rem" src="../assets/notfound.png" alt="">
            </section>
        </article>


        <footer>
            <CarbonBadge :dark="{dark}"></CarbonBadge>
        </footer>
    </div>
</template>

<script>
import Home_en from "./Home_en.vue";
import Home_fr from "./Home_fr.vue";
import Cv_fr from "./Cv_fr.vue";
import Cv_en from "./Cv_en.vue";

export default {
    name: "Home",
    components: {
        Home_en,
        Home_fr,
        Cv_fr,
        Cv_en
    },
    props: {
        lang: String,
        page: String,
        dark: Boolean
    }
}
</script>

<style>
article {
    margin: 0 1.5rem 2rem 6rem;
    transition-duration: .5s;
}

article section {
    margin-bottom: 4rem;
}

article section h1 {
    font-size: 2rem;
    width: max-content;
}

article section h1::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: .5rem;
    width: 65%;
    height: 5px;
    background-image: linear-gradient(to right, #8E54E9, #4776E6);
}

article section div#languages {
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
}

article section div#languages div {
    margin: 0 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
}

article section div#languages div img {
    width: 2rem;
}

article section div#languages div label {
    font-weight: bold;
    font-size: 1.2rem;
}

article section div#languages div meter {
    min-width: 10rem;
    width: 15%;
    max-width: 70rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    --background: #f6f3f3;
    --optimum: #13b213;
    --sub-optimum: #e3ca3c;
    --sub-sub-optimum: #9d0f30;
    /******************* Colours for the meters ***************************/
    /* The gray background in Firefox */
    background: var(--background);
    display: block;
}

div#app.dark meter {
    --background: #dadada;
    --optimum: #13b213;
    --sub-optimum: #c5b02b;
    --sub-sub-optimum: #9d0f30;
}

/* The gray background in Chrome, etc. */
meter::-webkit-meter-bar {
    background: var(--background);
}

/* The green (optimum) bar in Firefox */
meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--optimum);
}

/* The green (optimum) bar in Chrome etc. */
meter::-webkit-meter-optimum-value {
    background: var(--optimum);
}

/* The yellow (sub-optimum) bar in Firefox */
meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--sub-optimum);
}

/* The yellow (sub-optimum) bar in Chrome etc. */
meter::-webkit-meter-suboptimum-value {
    background: var(--sub-optimum);
}

/* The red (even less good) bar in Firefox */
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--sub-sub-optimum);
}

/* The red (even less good) bar in Chrome etc. */
meter::-webkit-meter-even-less-good-value {
    background: var(--sub-sub-optimum);
}

/***************************************************************/

article section div.project {
    margin-bottom: 3rem;
}

article section li span {
    font-weight: 100;
}

article section p {
    width: 92%;
}

article section p a {
    text-decoration: underline;
}

article section#projects p {
    margin-bottom: 2rem;
}

article section figure {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    height: 20rem;
    margin: 0;
    border-radius: .5rem;
    overflow: hidden;
}

/*=== Specific colors ===*/
.white-text {
    color: #f0f0f0;
    background-color: transparent;
}

article section figure#unicovoit {
    background-color: #4a6dd9;
}

div#app.dark article section figure#unicovoit {
    background-color: #4a6dd9;
}

article section figure#unicovoit img {
    background-color: transparent;
    width: 9rem;
    margin-right: 2rem;
}

article section figure#privacy-online {
    background-color: #96a1a4;
}

div#app.dark article section figure#privacy-online {
    background-color: #4f5659;
}

article section figure#accounts-manager {
    background-color: #cccccc;
    color: #051537;
}

article section figure#nsiProjet2 {
    background-color: #3372a5;
}

div#app.dark article section figure#nsiProjet2 {
    background-color: #295b84;
}

article section figure#prestomadose {
    background-color: #0596de;
}

div#app.dark article section figure#prestomadose {
    background-color: #0472a9;
}

/*================*/


article section figure img {
    margin: auto -1rem -1rem auto;
    width: 30rem;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.07);
    transition-duration: .3s;
}

article section figure:hover img {
    margin: auto -.5rem -.5rem auto;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.3);
}

article section figure legend {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}


footer {
    margin: 5rem 0 2rem 6rem;
    transition-duration: .3s;
}

footer #wcb.wcb-d #wcb_2 {
    color: #0e11a8;
}

div#app.dark footer #wcb.wcb-d #wcb_2 {
    color: #ffffff;
}


@media screen and (max-width: 800px) {
    article {
        margin: 5rem 1rem 0;
    }

    div#wrapper article section h1::after {
        content: "";
        width: 75%;
    }

    article section div#languages div {
        width: 100%;
    }

    article section div#languages div label {
        font-size: 1rem;
    }

    article section figure {
        background-color: #252525;
        flex-direction: column;
        height: 13rem;
    }

    article section figure legend {
        color: #f0f0f0;
        text-align: left;
        align-self: baseline;
    }

    article section figure img {
        margin: auto -1rem -1rem auto;
        width: 15rem;
        box-shadow: 0 0 64px rgba(0, 0, 0, 0.07);
    }

    footer {
        margin-left: 0;
    }

    footer div#wcb.wcb-d span#wcb_2 {
        color: #0e11a8;
    }
}
</style>
