<template>
  <div id="lang">
    <div id="inactive">
      <a v-if="lang == 'en'" href="https://colinozanne.fr/"><img src="../assets/french.png" alt="French"></a>
      <a v-else href="https://colinozanne.fr/en/"><img src="../assets/english.jpg" alt="English"></a>
    </div>
    <img v-if="lang == 'en'" src="../assets/english.jpg" alt="English">
    <img v-else src="../assets/french.png" alt="Français">
    <p>{{lang}}</p>
  </div>
</template>

<script>
export default {
  name: "Language",
  props: {
    lang: String
  }
}
</script>

<style scoped>
/*===========================================================================*/
div#lang {
  position: fixed;
  bottom: 0;
  right: 3%;
  width: 1.5rem;
  height: 1.2rem;
  background-color: #0000001a;
  border: 2px solid #000000;
  border-bottom: 0;
  border-radius: .5rem .5rem 0 0;
  padding: .2rem;
}

div#lang img {
  width: 100%;
  cursor: pointer;
}

div#lang div#inactive {
  position: fixed;
  opacity: 0;
  bottom: -.55rem;
  right: 3%;
  width: 1.5rem;
  background-color: #0000001a;
  border: 2px solid #000000;
  border-bottom: 0;
  border-radius: .5rem .5rem 0 0;
  padding: .2rem .2rem .7rem;
  transition: .3s;
}

div#lang:hover div#inactive {
  opacity: 1;
  bottom: 1.2rem;
}
</style>