<template>
  <div id="app" :class="{dark}">
    <HeadingMobile v-if="this.$isMobile()" :lang=language()></HeadingMobile>
    <Heading v-else :lang=language() :dark="{dark}" @changeColourTheme="changeColourScheme()"></Heading>

    <Home :lang=language() :page=page()></Home>

    <Language :lang=language()></Language>
  </div>
</template>

<script>
import Heading from './components/Heading.vue';
import HeadingMobile from "./components/HeadingMobile.vue";
import Home from './components/Home.vue';
import Language from "./components/Language.vue";

export default {
  name: 'App',
  components: {
    HeadingMobile,
    Heading,
    Home,
    Language,
  },
  methods: {
    language() {
      let l = window.location.pathname.split("/")[1];
      if ("en" !== l) {
        l = "";
      }
      return l;
    },
    page() {
      let url = window.location.pathname.split('/');
      if (url[1] === 'en') {
        url = url.slice(2);
      }
      else { url = url.slice(1); }
      if (url[url.length -1] === "/") {
        url = url.slice(0, -1);
      }
      return url.join("")
    },
    changeColourScheme() {
      if (this.dark) {
        this.dark = false;
        sessionStorage.setItem('dark', "false");
      } else {
        this.dark = true;
        sessionStorage.setItem('dark', "true");
      }
    }
  },
  data () {
    return {
      dark: false
    }
  },
  beforeMount() {
    if (sessionStorage.getItem('dark') === "true") {
      this.dark = true;
    }
  }
}
</script>

<style>
@import url("./assets/fonts/orkney/orkney.css");
@import url("./assets/fonts/exo/exo.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'OrkneyRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-family: 'ExoRegular', sans-serif;
  font-size: 1.2rem;
}

:target:before {
  content: "";
  display: block;
  height: .1rem;
  margin: -.1rem 0 0;
}

span.tab {
  width: 4.8rem;
  display: inline-block;
}

ul li {
  font-weight: bold;
  margin-top: .5rem;
}

div#app {
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #ffffff;
  color: #051537;
  transition-duration: .5s;
}

div#app.dark {
  background: #1e1e1e;
  color: #dfdcd7;
}

@media screen and (max-width: 800px) {
  :target:before {
    content: "";
    display: block;
    height: 3rem;
    margin: -3rem 0 0;
  }

  div#app {
    flex-direction: column;
  }
}
</style>
